<template>
  <div class="home">
    <h3 class="text-center"> One step away from creating your very own Alexa Powered Skill </h3>
  </div>
</template>

<script>
// // @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

// export default {
//   name: 'home',
//   components: {
//     HelloWorld
//   }
// }
</script>
